<% 
  player = @player
  npc = fight.npc
%>

<%= partial :flash %>

<div class='clearfix'>
  <div class='fight_box left' style='border-right:2px solid #ddd'>
    <h3><%= player.name %></h3>
    <p><%= player.life %></p>
  </div>
  <div class='fight_box right'>
    <h3><%= npc.name %></h3>
    <p><%= npc.life %></p>
  </div>
</div>

<div id='fight_controls'>
  <p>I want to be a man and <a href='/fight/attack' id='attack'>Attack!</a></p>
  <p>I want to be a baby and <a href='/fight/run' id='run_away'>Run Away!</a></p>
</div>
