<div class='clearfix'>
  <div class='left product_table'>
    <select id='buyable' size='10'>
      <% Wars::Product.all.each do |product| %>
        <option value='<%= product.id %>' data="{type: 'product', name: '<%= product.name %>', price: <%= product.price %>, quantity: <%= (@player.cash / product.price).round %>}">
          <%= product.name %> - $<%= product.price %>
        </option>
      <% end %>
    </select>
  </div>
  <div class='right product_table'>
    <select id='sellable' size='10'>
      <% @player.products.each_with_index do |stash, index| %>
        <%
          product = Wars::Product.find(stash[:id]) 
          profit = (product.price - stash[:price]).round
        %>
        <option value='<%= index %>' data="{type: 'product', name: '<%= product.name %>', price: <%= stash[:price] %>, quantity: <%= stash[:quantity] %>, sale_price: <%= product.price %>, profit: <%= profit %>, total: <%= profit * stash[:quantity] %>}">
            <%= stash[:quantity] %> &times; <%= product.name %> @ <%= stash[:price] %>
        </option>
      <% end %>
    </select>
  </div>
</div>
