<div id='products' class='block'>
  <h3><%= @store.name %></h3>
  <div class='clearfix'>
    <div class='left product_table'>
      <select id='buyable' size='10'  data="{products: false, buying: true}">
        <% @store.sells.each do |equipment| %>
          <option value='<%= equipment.id %>' data="{name: '<%= equipment.name %>', price: '<%= format_number equipment.price %>', limit: <%= equipment.limit %>, quantity: <%= equipment.quantity(@player) %>, adds: '<%= equipment.adds %>', amount: <%= equipment.amount %>}">
            <%= equipment.name %> - $<%= format_number equipment.price %> (+<%= equipment.amount %> <%= equipment.adds %>)<%= ' [once]' if equipment.disposable? %>
          </option>
        <% end %>
      </select>
    </div>
    <div class='right product_table'>
      <select id='sellable' size='10' data="{products: false, buying: false}">
        <% @player.equipment_map.each_with_index do |(equipment, quantity), index| %>
          <option value='<%= index %>' data="{name: '<%= equipment.name %>', sale_price: '<%= format_number equipment.sale_price %>', quantity: <%= quantity %>}">
            <%= quantity %> &times; <%= equipment.name %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <%= partial :transaction %>

  <p><%= link_to '&larr; Leave Store', '/location/%d' % @player.location_id %></p>
</div>