<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Office Wars - DopeWars for the office crowd!</title>
    <script src="http://www.google.com/jsapi" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      google.load("jquery", "1");
    </script>
    <script src="<%= url_for '/js/jquery.metadata.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= url_for '/js/jquery.vsprintf.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= url_for '/js/jquery.loading.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= url_for '/js/wars.js' %>" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="<%= url_for '/css/wars.css' %>" type="text/css" charset="utf-8">
  </head>

  <body><div id='page_wrapper'>
    <div id='header'>
      <h1>
        <% if @player %>
          Office Wars
        <% else %>
          <%= link_to 'Office Wars', url_for('/') %>
        <% end %>
      </h1>
    </div>
    <div id='stage'>
      <%= yield %>
    </div>
    <div id='footer'>
      <small>
        &copy; 2010 <a href='http://proccli.com'>Rob Hurring</a> 
        &lt;<a href='http://zerobased.com'>http://zerobased.com</a>&gt; 
        &lt;<a href='http://github.com/robhurring/wars'>Fork this on GitHub</a>&gt; 
      </small>
    </div>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4282446-7']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </body>
</html>